@import "material-symbols/index.css";

$colors: "red", "green", "blue", "orange";
$opacity-levels: "minimum", "low", "medium", "high";

:root {
  --base-foreground: 15, 15, 15;
  --base-background: 255, 255, 255;

  --base-grey: 140, 140, 150;
  --base-red: 230, 50, 40;
  --base-green: 0, 180, 60;
  --base-blue: 0, 150, 235;
  --base-orange: 210, 120, 20;

  --color-foreground: rgb(var(--base-foreground));
  --color-background: rgb(var(--base-background));

  --opacity-color-minimum: 10%;
  --opacity-color-low: 20%;
  --opacity-color-medium: 30%;
  --opacity-color-high: 60%;

  @each $color in $colors {
    --color-#{$color}: rgb(var(--base-#{$color}));

    @each $level in $opacity-levels {
      --color-#{$color}-#{$level}: color-mix(
        in srgb,
        rgb(var(--base-#{$color})) var(--opacity-color-#{$level}),
        var(--color-background)
      );
    }
  }

  --color-shape-minimum: color-mix(
    in srgb,
    var(--color-foreground) calc(var(--opacity-color-minimum) / 2),
    var(--color-background)
  );
  --color-shape-low: color-mix(
    in srgb,
    var(--color-foreground) calc(var(--opacity-color-low) / 2),
    var(--color-background)
  );
  --color-shape-medium: color-mix(
    in srgb,
    var(--color-foreground) calc(var(--opacity-color-medium) / 2),
    var(--color-background)
  );
  --color-shape-high: color-mix(
    in srgb,
    var(--color-foreground) calc(var(--opacity-color-high) / 2),
    var(--color-background)
  );

  --color-primary: var(--color-blue);
  --color-primary-minimum: var(--color-blue-minimum);
  --color-primary-low: var(--color-blue-low);
  --color-primary-medium: var(--color-blue-medium);
  --color-primary-high: var(--color-blue-high);

  --shadow-drop: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.18));
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.08);
  --shadow-2: 0 10px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.08);
  --shadow-3: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.08);
  --shadow-4: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.08);

  --gap: 10px;
  --radius: 12px;

  accent-color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-foreground: 236, 244, 247;
    --base-background: 9, 19, 28;
  }
}

/* icons */

.icon {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  vertical-align: top;
  user-select: none;
}

/* buttons */

button {
  width: fit-content;
  min-height: calc(var(--gap) + 24px);
  padding: calc(var(--gap) / 2) var(--gap);
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  gap: calc(var(--gap) / 2);
  justify-content: center;
  align-items: center;
  font: inherit;
  font-weight: 600;
  border-radius: var(--radius);
  box-shadow: none;
  border: none;
  color: inherit;
  cursor: pointer;
  background: var(--color-shape-low);
  user-select: none;
  outline: none;

  &:hover {
    background: var(--color-shape-medium) !important;
  }

  &.transparent {
    background: none !important;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

/* dropdowns */

.dropdown {
  display: inline-flex;
  vertical-align: middle;

  background: var(--color-shape-low);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;

  &.expanded {
    border-radius: var(--radius) var(--radius) 0 0;
  }

  &:not(.expanded):hover {
    background: var(--color-shape-medium);
  }

  & > .icon {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 6px;
    pointer-events: none;
  }
}

.dropdown-value {
  width: 100%;
  padding: calc(var(--gap) / 2) var(--gap);
}

.dropdown-list {
  width: 100%;
  background: var(--color-shape-low);
  border-radius: var(--radius);
  cursor: pointer;
  overflow-y: auto;

  & > div {
    border-radius: inherit;
    background: var(--color-shape-low);
  }
}

.dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown:not(.expanded) .dropdown-list {
  display: none;
}

.dropdown-item {
  padding: calc(var(--gap) / 2) var(--gap);
  background: none;
  border-radius: var(--radius);

  &.active {
    color: var(--color-primary);
    background: var(--color-primary-medium);
  }

  &:hover:not(.active) {
    background: var(--color-shape-medium);
  }
}
