@use "material-symbols";

$colors: "red", "green", "blue", "orange";
$opacity-levels: "minimum", "low", "medium", "high";

:root {
  --base-foreground: 15, 15, 15;
  --base-background: 255, 255, 255;

  --base-grey: 140, 140, 150;
  --base-red: 230, 50, 40;
  --base-green: 0, 180, 60;
  --base-blue: 0, 150, 235;
  --base-orange: 210, 120, 20;

  --color-foreground: rgb(var(--base-foreground));
  --color-background: rgb(var(--base-background));

  --opacity-achromatic-multiplier: 0.5;
  --opacity-color-minimum: 0.08;
  --opacity-color-low: 0.16;
  --opacity-color-medium: 0.25;
  --opacity-color-high: 0.50;
  --opacity-color-maximum: 0.70;

  @each $color in $colors {
    --color-#{$color}: rgb(var(--base-#{$color}));

    @each $level in $opacity-levels {
      --color-#{$color}-#{$level}: color-mix(
        in srgb,
        var(--color-#{$color}) calc(100% * var(--opacity-color-#{$level})),
        var(--color-background)
      );
    }
  }

  @each $level in $opacity-levels {
    --color-shape-#{$level}: color-mix(
      in srgb,
      var(--color-foreground) calc(100% * var(--opacity-color-#{$level}) * var(--opacity-achromatic-multiplier)),
      var(--color-background)
    );
  }

  --color-primary: var(--color-blue);
  --color-primary-minimum: var(--color-blue-minimum);
  --color-primary-low: var(--color-blue-low);
  --color-primary-medium: var(--color-blue-medium);
  --color-primary-high: var(--color-blue-high);

  --shadow-drop: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.18));
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.08);
  --shadow-2: 0 10px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.08);
  --shadow-3: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.08);
  --shadow-4: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.08);

  --size-icon: 24px;
  --gap: 10px;
  --radius: 12px;

  accent-color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-foreground: 236, 244, 247;
    --base-background: 9, 19, 28;

    --opacity-achromatic-multiplier: 0.6;
  }
}

/* buttons */

button {
  width: fit-content;
  min-height: calc(var(--gap) + var(--size-icon));
  padding: calc(var(--gap) / 2) var(--gap);
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) / 2);

  font: inherit;
  font-weight: 600;
  border-radius: var(--radius);
  box-shadow: none;
  border: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
  outline: none;

  --opacity-multiplier: var(--opacity-achromatic-multiplier);

  background: color-mix(
    in srgb,
    currentColor calc(100% * var(--opacity-color-low) * var(--opacity-multiplier)),
    var(--color-background)
  );
  --hover-background: color-mix(
    in srgb,
    currentColor calc(100% * var(--opacity-color-medium) * var(--opacity-multiplier)),
    var(--color-background)
  );

  &:hover,
  &:focus-visible {
    background: var(--hover-background) !important;
  }

  &.transparent {
    padding-left: 0;
    padding-right: 0;
    background: none !important;
    font-weight: inherit;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

/* cards */

.card {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background: var(--color-shape-minimum);
  border-radius: var(--radius);
}

/* dropdowns */

.dropdown {
  min-height: calc(var(--gap) + var(--size-icon));
  padding: calc(var(--gap) / 2) var(--gap);
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--gap) / 2);

  background: var(--color-shape-low);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
  position: relative;

  &.expanded {
    border-radius: var(--radius) var(--radius) 0 0;
  }

  &:not(.expanded):hover {
    background: var(--color-shape-medium);
  }

  .dropdown-value {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--gap) / 2);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-icon {
    pointer-events: none;
  }
}

.dropdown-list {
  width: 100%;
  background: var(--color-shape-low);
  border-radius: var(--radius);
  cursor: pointer;
  overflow-y: auto;

  & > div {
    border-radius: inherit;
    background: var(--color-shape-low);
  }
}

.dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown:not(.expanded) .dropdown-list {
  display: none;
}

.dropdown-item {
  min-height: calc(var(--gap) + var(--size-icon));
  padding: calc(var(--gap) / 2) var(--gap);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--gap) / 2);
  background: none;
  border-radius: var(--radius);

  &.active {
    font-weight: 600;
    color: var(--color-primary);
    background: var(--color-primary-medium);
  }

  &:hover:not(.active) {
    background: var(--color-shape-medium);
  }
}

/* icons */

.icon {
  font-size: var(--size-icon);
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  vertical-align: top;
  user-select: none;
}

/* spinner */

.spinner {
  transition:
    opacity 0.05s ease,
    visibility 0.05s ease;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);

  &.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    align-items: center;
    background: color-mix(in srgb, var(--color-background) 50%, transparent);
    backdrop-filter: blur(6px);

    svg {
      width: 48px;

      circle {
        stroke-width: 5px;
      }
    }
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    width: var(--size-icon);
    animation: rotate-spinner 2s linear infinite;

    circle {
      fill: none;
      stroke-width: 6px;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: fillunfill-spinner 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: currentColor;
    }
  }
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fillunfill-spinner {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
